include LICENSE
include README.md
include INSTALL.md
include ZATO.md
include requirements.txt
include pyproject.toml

include src/genesisng/sql/*.sql
include src/genesisng/config.ini

# Documentation
include docs/Makefile docs/docutils.conf
recursive-include docs *.png
recursive-include docs *.svg
recursive-include docs *.py
recursive-include docs *.rst
prune docs/_build
